!!!
%html
  %head
    - metadescription = t 'header.metadescription'
    %meta{content: metadescription, name: 'description'}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no", :name => "viewport"}/

  %body
    = yield